env {
customPath = "$PATH:/Users/jlevy/Desktop/Repositories/Joshua-Levy-Synteny-Analysis/genomeAssembly"
//NXF_WORK = '/global/projectb/scratch/jlevy/Spring2017/Synteny/genomeDistAssemblies:$PATH'
}

process {
  executor = 'sge'
  errorStrategy = 'ignore'
  //queue = 'normal'
  clusterOptions = '-P plant-analysis.p -cwd -l exclusive.c -pe pe_slots 3 -e OutputFile.txt'
  //maxRetries 3
  //penv = 'ompi'
}